**/__pycache__
.pytest_cache
**/.gmsh_cache
**/.DS_Store
docs/build
**/.ipynb_checkpoints

# Ignore specific file types globally
*.csv
*.npz
*.npy
*.msh 
*.json
*.xdmf
*.h5

# Ignore everything in the experimental directory
experimental/

# Ignore specific files and directories in benchmark,
# but keep .py and .ipynb files and any specifically mentioned files
benchmark/**/*.png
benchmark/**/!(*.py|*.ipynb)
examples/**/*.mp4
examples/**/*.png
!examples/**/eth.png

*massif.*
**/massif*
benchmark/**/test*